@font-face {
    font-family: "Roboto-Regular";
    src: url("../font/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../font/Poppins-Regular.ttf") format('truetype');
}