/*
    BARRE DE NAVIGATION ORIGINE
*/
/*z-index = .container-circle(1) .bg-burger(2)*/
.header-nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}

.logo {
    position: relative;
    top: 0;
    width: calc(150px + 7vw);
    height: 100%;
}

.logo-img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}

/* CIRCLE */
:root {
    /*Diamètre du cercle*/
    --width: calc(270px + 2vw);
    /*Rayon du cercle (qui s'adaptera si --width change)*/
    --radius: calc((var(--width) - var(--slotSize)) / 2);
    /*Hauteur/largeur slots (modifier la division permet de centrer les slots selon taille des noms/icônes)*/
    --slotSize: calc(var(--width) / 4.3);
    /*Réglage top/right du cercle (valeur négative)*/
    --circle-tr: calc(var(--width) / -2);
}

.container-circle {
    position: relative;
    background-color: rgba(28, 28, 28, 0.774);
    border-radius: 50%;
    transition: 0.4s;
    transform: scale(0.1);
    z-index: 1;
}

.circle {
    position: absolute;
    top: var(--circle-tr);
    right: var(--circle-tr);
    background-color: var(--logoTrans);;
    width: var(--width);
    aspect-ratio: 1;
    border-radius: 50%;
    transition: 0.4s;
    opacity: 1;
}

.container-circle.active {transform: scale(1);}
.circle.active {opacity: 1;}

.slots {
    /*Coordonnée de X = rayon + (rayon * cos(degré))*/
    --pos-x: calc(var(--radius) + (var(--radius) * cos(var(--_degree))));
    /*Coordonnée de Y = rayon + (rayon * sin(degré))*/
    --pos-y: calc(var(--radius) + (var(--radius) * sin(var(--_degree))));
    top: var(--pos-y);
    left: var(--pos-x);
    width: var(--slotSize);
    height: var(--slotSize);
    position: absolute;
    display: grid;
    place-content: center;
    font-size: 12px;
}

.circle__a--link {
    color: white;
    text-decoration: none;
    text-align: center;
}

.circle__a--link svg {
    width: 45px;
    height: 45px;
    padding: 4px;
    border-radius: 50%;
    fill: var(--white);
}

.circle__a--link.active svg {
    background-color: var(--logo);
}

/*
  Un cercle fait 360 degrés. Il y a 12 slots sur le cercle, il faut donc placer un slot tous les 30 degrés (360/12). 
  En mathématiques, midi est en fait à -90 degrés, soit 270 degrés (360 - 90).
  La variable --degree (valeur en degré) permet de placer les slots sur le cercle. 
  Il faut incrémenter les valeurs de 30 degrés pour boucler le cercle :
  Ici je pars de 15deg car pour le menu les slots doivent être légèrement décalés.
  Jouer avec ses valeurs pour placer les slots sur le cercle comme on le souhaite selon que le menu soit en haut, en bas, etc.
*/
.circle .slots:nth-child(1) { --_degree: 165deg; }
.circle .slots:nth-child(2) { --_degree: 135deg; }
.circle .slots:nth-child(3) { --_degree: 105deg; }
.circle .slots:nth-child(4) { --_degree: 75deg; transform: rotate(-90deg); }
.circle .slots:nth-child(5) { --_degree: 45deg; transform: rotate(-90deg); }
.circle .slots:nth-child(6) { --_degree: 15deg; transform: rotate(-90deg); }
.circle .slots:nth-child(7) { --_degree: 345deg; transform: rotate(-180deg); }
.circle .slots:nth-child(8) { --_degree: 315deg; transform: rotate(-180deg); }
.circle .slots:nth-child(9) { --_degree: 285deg; transform: rotate(-180deg); }
.circle .slots:nth-child(10) { --_degree: 255deg; transform: rotate(90deg); }
.circle .slots:nth-child(11) { --_degree: 225deg; transform: rotate(90deg); }
.circle .slots:nth-child(12) { --_degree: 195deg; transform: rotate(90deg); }

/* BURGER */
.bg-burger {
    position: absolute;
    background-color: var(--logo);
    border-bottom: 2px solid var(--white);
    border-left: 2px solid var(--white);
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    border-radius: 0 0 0 100%;
    transition: 0.5s;
    z-index: 2;
}

.burger {
    display: block;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 0 0 14px 7px;
    transition: 0.5s;
}

.burger:hover { opacity: 0.7; }

.burger path {
    stroke: white;
    transition: transform 0.5s;
}

.burger path:nth-child(1) {transform-origin: 25% 29%;}
.burger path:nth-child(2) {transform-origin: 50% 50%;}
.burger path:nth-child(3) {transform-origin: 75% 72%;}
.burger path:nth-child(4) {transform-origin: 75% 29%;}
.burger path:nth-child(5) {transform-origin: 25% 72%;}

.burger.active path {stroke: var(--white);}
.burger.active path:nth-child(1) {transform: rotate(45deg);}
.burger.active path:nth-child(2) {transform: scaleX(0);}
.burger.active  path:nth-child(3){transform: rotate(45deg);}
.burger.active path:nth-child(4) {transform: rotate(-45deg);}
.burger.active path:nth-child(5) {transform: rotate(-45deg);}

/* ARROW */
.circle__div--arrowTop,
.circle__div--arrowBottom {
    position: absolute;
    font-size: 20px;
    transition: 0.9s;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.circle__div--arrowTop {
    top: 2px;
    right: calc(var(--radius) + 40px);
}

.circle__div--arrowBottom {
    top: 38px;
    right: calc(var(--radius) + 40px);
    transform: rotate(180deg);
}

.circle__div--arrowTop svg,
.circle__div--arrowBottom svg {
    background-color: var(--logo);
    fill: var(--white);
    width: 40px;
    padding: 0 4px;
    height: 40px;
    transition: 1s;
    border-radius: 50%;
}

.circle__div--arrowTop svg:hover,
.circle__div--arrowBottom svg:hover {
    fill: #d8d8d8;
}

.circle__div--arrowTop.active,
.circle__div--arrowBottom.active {
    visibility: visible;
    opacity: 1;
}

.circle__div--arrowTop:hover,
.circle__div--arrowBottom:hover {
    border-color: #98ffea;
}

































/*
    BARRE DE NAVIGATION ORIGINE
*/
/* .header-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 20px 0 5px;
    height: 70px;
}

.nav-main {
    padding: 0;
    border-radius: 3px;
    border: 2px solid rgb(255, 255, 255);
    outline: 1px solid rgb(109, 109, 109);
    box-shadow:
        1px 1px 1px rgb(82, 82, 82);
}

.box-logo {
    position: relative;
    width: calc(150px + 7vw);
    height: 100%;
}

.img-logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}

.nav-main-li {
    background-image: url('../asset/1-texture-papier-blanc-clair-1.jpg');
    background-size: 400%;
}

.nav-main a {
    display: block;
    text-align: center;
    width: 90px;
    font-size: calc(14px + 0.1vw);
    letter-spacing: 1px;
    padding: 6px 0;
    margin: 0;
    color: var(--text-logo);
    transition: 0.2s;
}

.nav-main a:hover {
    color: rgb(114, 114, 114);
}

.nav-main a.active {
    background-color: #7d9ba59c;
    color: var(--white);
}

.btn-1,
.btn-2,
.btn-3,
.btn-4,
.btn-5,
.btn-6 {
    border-right: 1px solid var(--grey);
}

.burger {
    display: none;
    width: 30px;
    height: 30px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--darkGrey);
} */