.ball {
    position: relative;
    width: clamp(80px, 30vw, 1500px);
    height: clamp(80px, 30vw, 1500px);
    border-radius: 100%;
    -webkit-filter: drop-shadow(15px 12px 10px rgba(15, 15, 15, 0.7));
    filter: drop-shadow(15px 12px 10px rgba(15, 15, 15, 0.7));
    transition: 0.5s;
}

.ball:nth-child(1) {
    transform: translateX(-30%) translateY(55%);
    background-color:#84b46a;
    z-index: 1;
}
.ball:nth-child(1):active { transform: translateX(-20%) translateY(20%);}

.ball:nth-child(2) {
    transform: translateX(-70%) translateY(60%);
    background-color: #f5de59;
}
.ball:nth-child(2):active { transform: translateX(-70%) translateY(10%);}

.ball:nth-child(3) {
    transform: translateX(-120%) translateY(75%);
    background-color: #e1a549;
    z-index: 3;
}
.ball:nth-child(3):active { transform: translateX(-120%) translateY(30%);}

.ball:nth-child(4) {
    transform: translateX(-190%) translateY(55%);
    background-color: #d54e53;
    z-index: 2;
}
.ball:nth-child(4):active { transform: translateX(-190%) translateY(20%);}

.ball:nth-child(5) {
    transform: translateX(-230%) translateY(70%);
    background-color: #f26496;
    z-index: 2;
}
.ball:nth-child(5):active { transform: translateX(-230%) translateY(30%);}

.ball:nth-child(6) {
    transform: translateX(-270%) translateY(60%);
    background-color: #c26b98;;
}
.ball:nth-child(6):active { transform: translateX(-270%) translateY(10%);}

.ball:nth-child(7) {
    transform: translateX(-330%) translateY(60%);
    background-color: #4ca4df;
}
.ball:nth-child(7):active { transform: translateX(-350%) translateY(20%);}



/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx FLOWER xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/*z-index = flower(1)/bg-btn(1)/*/
.alert {
    position: absolute;
    top: 20%;
    display: none;
    font-family: ui-sans-serif, system-ui, sans-serif;
    text-align: center;
    color: #111111;
}

:root {
    /*Diamètre du cercle*/
    --flowerWidth: calc(260px + 3vw);
    /*Rayon du cercle*/
    --flowerRadius: calc((var(--flowerWidth) - var(--petalSize)) / 2);
    /*Hauteur/largeur images*/
    --petalSize: calc(var(--flowerWidth) / 3);
}

.container-flower {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-90%);
}

.container-flowerInner {position: relative;}

.flower {
    position: relative;
    aspect-ratio: 1;
    border-radius: 50%;
    list-style-type: none;
    width: var(--flowerWidth);
    transition: 1s;
    opacity: 0;
    transform: scale(0);
    z-index: 1;
}

.flower.active {
    animation: openFlower 1s alternate;
    opacity: 1;
    transform: scale(1);
}

.petal {
    position: absolute;
    /*Position X = rayon + (rayon * cos(degré))*/
    --petal-x: calc(var(--flowerRadius) + (var(--flowerRadius) * cos(var(--_degree))));
    /*Position Y = rayon + (rayon * sin(degré))*/
    --petal-y: calc(var(--flowerRadius) + (var(--flowerRadius) * sin(var(--_degree))));
    top: var(--petal-y);
    left: var(--petal-x);
    width: var(--petalSize);
    height: var(--petalSize);
    border-radius: 50%;
    display: grid;
    place-content: center;
    transition: transform .2s ease-in;
    -webkit-filter: drop-shadow(15px 10px 10px rgba(0, 0, 0, 0.573));
    filter: drop-shadow(15px 10px 10px rgba(0, 0, 0, 0.573));
}

/*
  Un cercle fait 360 degrés. Il y a 12 items sur le cercle, il faut donc placer un item tous les 30 degrés (360/12). 
  En mathématiques, midi est en fait à moins 90 degrés, soit 270 degrés (360 - 90).
  La variable --degree sert à définir une valeur en degré pour chaque item sur le cercle. 
  Il faut incrémenter les valeurs de 30 degrés pour boucler le cercle :
*/
.petal:nth-child(1) {--_degree: 260deg;}
.petal:nth-child(2) {--_degree: 332deg;}
.petal:nth-child(3) {--_degree: 44deg;}
.petal:nth-child(4) {--_degree: 116deg;}
.petal:nth-child(5) {--_degree: 188deg;}
/*
.petal:nth-child(6) {--_degree: 60deg;}
.petal:nth-child(7) {--_degree: 90deg;}
.petal:nth-child(8) {--_degree: 120deg;}
.petal:nth-child(9) {--_degree: 150deg;}
.petal:nth-child(10) {--_degree: 180deg;}
.petal:nth-child(11) {--_degree: 210deg;}
.petal:nth-child(12) {--_degree: 240deg;} 
*/

/*Tige*/
.bg-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(70px + 0.5vw);
    height: calc(70px + 0.5vw);
    border-radius: 100%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    z-index: 1;
}


.btn-flower {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.btn-flower span {
    background-color: rgb(29, 29, 29);
    outline: 1px solid rgb(58, 58, 58);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 1px 1px 3px rgb(29, 29, 29), inset 2px 1px 3px rgb(235, 235, 235);
    -webkit-filter: drop-shadow(15px 10px 10px rgba(0, 0, 0, 0.573));
    filter: drop-shadow(15px 10px 10px rgba(0, 0, 0, 0.573));
    transition: 0.5s;
}

.btn-flower span:hover, .btn-flower span:active {
    transform: scale(1.05);
}

.stem {
    position: absolute;
    width: var(--flowerWidth);
    top: 50%;
    left: 0;
}

.stem-left, .stem-right {
    position: relative;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 190px;
    height: calc(270px + 3vw);
    border-radius: 0 50% 100% 0;
}

.stem-left {
    border-right: 1px solid rgb(29, 29, 29);
    transform: translateX(22%) translateY(2%);
}

.stem-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    border-radius: 0 0% 100% 0;
    box-shadow: 1px 1px 0px 0px rgba(29, 29, 29, 0.651);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg) translateX(33%) translateY(2%);
}

.stem-right {
    border-right: 3px solid rgb(29, 29, 29);
    transform: translateX(-80%) translateY(2%);
    -webkit-filter: drop-shadow(15px 15px 6px rgb(43, 43, 43));
    filter: drop-shadow(15px 15px 6px rgb(43, 43, 43));
}

@keyframes openFlower {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    10% {
        opacity: 1;
        transform: scale(1.2);
    }

    30% {
        opacity: 1;
        transform: scale(0.4);
    }

    70% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}

@supports (left: calc(1px * cos(45deg))) {
    .petal:hover {
        transform: scale(1.2);
    }
}

@supports not (left: calc(1px * cos(45deg))) {
    .petal {
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) rotate(var(--_degree)) translate(var(--flowerRadius)) rotate(calc(-1*var(--_degree)))
    }

    .alert {
        display: block;
    }
}